h1{
    text-align: center;
    background-color: rgb(208, 255, 0);
    color: red;
    border-radius: 10px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    text-align: center;
    background-color: #3294a8;
 }
h2{
    background-color: purple;
    width: 300px;
    margin-left: 40%;
    height: 30px;
    border-radius: 10px;
}
button{
    background-color: #75a832;
    height: 30px;
    width: 120px;
    padding: 10px;
    margin-left: 2%;
    border-radius: 10px;
}
